
@import '../App/global.scss';

// @media only screen and (min-width: 1440px) {
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;    
  }
  .home-left {
    background-size: cover;
    background: url('../../../dist/water.jpg') 50% 50% no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1 {
      font-size: 60px;
      color: white;
      font-family: "plume"
    }
    p {
      // font-size: 20px;
      color: white;
      text-shadow: 1px 1px $ink;
    }

    button {
      margin-top: 8%;
      background: #a5cef0;
      color: white;
      border: none;
      font-weight: bold;
      border-radius: 500px;
      width: 150px;
      height: 40px;
      outline: none;
      cursor: pointer;
      margin-bottom: 30%;
      transition: .2s ease-in;
  
    }
    button:hover {
      background: $ink;
      transition: .2s ease-in;
    }
  }
  
  .home-right {
    width: 100%;
    height: 100vh;
  }
@media only screen and (min-width: 768px) {
  .home {
    flex-direction: row;
  }
}