@import '../App/global.scss';

// @media only screen and (min-width: 1440px) {
  #home {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    // background: url("https://d2genp9fhbycca.cloudfront.net/hollywood.jpg") 50% 50% no-repeat fixed;
    background-size: cover;
    background: url('../../../dist/ux.jpg') 50% 50% no-repeat;

  }
  .title {
    background-size: cover;
    width: 80%;
    height: 45vh;
    // z-index: -1;
    // position: fixed;

    h1  {
      // z-index: 1;
      // position: fixed;
      font-size: 50px;
      color: white;
      border: 3px solid #02040F;
      background: rgba(0, 0, 0, 0.3);
      padding: 1%;
      // color: $sviolet;
      // text-shadow: 1px 1px 5px #E59500;
    }
    .title-layer {
      // background: rgba(76,42,133, 0.3);
      // background: rgba(221,251,210, 0.5);
      width: 100%;
      height: calc(55vh - 8vh);
      display: flex;
      justify-content: center;
      align-items: center;
    
    }
  }

  .description {
    position: relative;
    // z-index: 10;
    width: 75%;

    .heading {
      padding-top: 5%;
      font-size: 20px;
      font-weight: 700;
    } 
  
    p {
      padding-top: 1%;

    }
  }
// }
// .foreground {
//   outline: none;
//   color: white;
//   // font-weight: bold;
//   // background: $ink;
//   // border: 3px solid #f1f1f1;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   z-index: 2;
//   width: 80%;
//   height: 80%;
//   padding: 20px;
//   text-align: center;
  
//   h1 {
//     font-family: 'horizon';
//     font-size: 50px;
//     font-weight: bold;
    
//   }
// }