/* Fonts */

/* Roboto */ 
@import url('https://fonts.googleapis.com/css?family=Roboto');
$roboto: 'Roboto', sans-serif;


/* Montserrat */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
$montserrat: 'Montserrat', sans-serif;

/* Cursive font */
@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');
$nothing: 'Nothing You Could Do', cursive;

/* Horizon */
// @font-face {
//   font-family: 'horizon';
//   src: url('../../../dist/Horizon/Horizon-Regular.ttf');
// }

@font-face {
  font-family: 'plume';
  src: url('../../../dist/Plume/Plume-free-brush-font.otf');
}

@import url('https://fonts.googleapis.com/css?family=Lato');
$lato: 'Lato', sans-serif;

/* Modern */ 
$white: white;
$green: #208489;
$grey: #484848;

/* Green Scheme */ 
$payne: #5D737E;
$sheen: #64B6AC;
$blue: #C0FDFB;
$cyan: #DAFFEF;
$white: #FCFFFD;

/* Colors */
$darkTerra: #D05353;
$yankeesBlue: #2E5060;
$passiveGrey: #eaebed;
$ghostWhite: #FAFCFE;
$eerieBlack: #1B1D23;
$beigeRed: #DACCCC;
$crimsom: #B10F2E;
// $white: #fff;

/* Alternate Scheme */ 
$ink: #062F4f;
$lapis: #174D7E;
$black: #222222;
$cadet: #639FAB;
$aqua: #BBCDE5;

/* Modern Bright */ 
$dpurp: #320E3B;
$sviolet: #4C2A85;
$boyblue: #6B7FD7;
$diamond: #BCEDF6;
$nyanza: #DDFBD2;

body {
  font-family: $lato;
  color: #484848;
}