@import '../App/global.scss';

.login {
  width: 100%;
  background: url('../../../dist/beach1.jpg') 50% 50% no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  form {
    display: flex;
    background: white;
    flex-direction: column;
    align-items: center;
    padding: 4% 3%;
    border-radius: 3%;
    box-shadow: 1px 1px 10px $grey;
  }
  h1 {
    padding-bottom: 10%;
    font-size: 30px;
    font-weight: bold;
    color: $grey;
  }
  
  input {
    border: none;
    border-radius: 500px;
    box-shadow: 0 8px 10px $passiveGrey, 0 -1px 10px $passiveGrey;
    line-height: 1.5;
    padding-left: 7px;
    font-size: 16px;
    font-weight: bold;
    margin: 8px 0;
    resize: none;
    outline: none;
    background: none;
    height: 5vh;
    width: 250px;
    color: $grey;
    transition: .2s ease-in;
  }
  input:focus {
    box-shadow: 0 8px 15px #D2D3D5, 0 -1px 15px #D2D3D5;
    transition: .2s ease-in;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $grey;
  }
  
  button {
    margin-top: 8%;
    background: #a5cef0;
    color: white;
    border: none;
    box-shadow: 0 15px 15px $passiveGrey;
    font-weight: bold;
    border-radius: 500px;
    width: 150px;
    height: 40px;
    outline: none;
    cursor: pointer;
    margin-bottom: 30%;
    transition: .2s ease-in;

  }
  button:hover {
    background: $ink;
    box-shadow: 0 15px 15px #D2D3D5;
    transition: .2s ease-in;
  }
}
